@import './base.css';

#app {
  width: 100vw;
  height: 100vh;
  max-width: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* Remove all grid/flex and padding from body and #app for large screens */
@media (min-width: 1024px) {
  body {
    display: block;
    place-items: unset;
  }
  #app {
    display: block;
    grid-template-columns: unset;
    padding: 0;
  }
}
